.idea
.ipynb_checkpoints/
Untitled*
regression*
ukb8627.tab*
nogitdata
py2_find_field.py
second_part_v2_grid_search.py
counting.py
deleteme1010.txt
getTrainPheno.ipynb
makePickle.py
test.py
dontPush
__pycache__
runs
rnn2.py
deletedFiles
delete.py
colab.tar
mlruns
modelWeights
modelMLP.py
